CVDBUserSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.CVDB/User">
	<xs:element name="Users">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="First_Name" type="xs:string" />
				<xs:element name="Last_Name" type="xs:string" />
				<xs:element name="Title" />
				<xs:element name="Date_of_Birth" type="xs:date" />
				<xs:element name="Phone" />
				<xs:element name="Mobile" />
				<xs:element name="Email" />
				<xs:element name="Swedish" type="xs:unsignedByte" />
				<xs:element name="English" type="xs:unsignedByte" />
				<xs:element name="Drivers_Licence" type="xs:unsignedByte" />
				<xs:element name="Personal_Information" />
				<xs:element name="dbo.Adresses">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Street01" type="xs:string" />
							<xs:element name="street02" />
							<xs:element name="zipcode" type="xs:unsignedShort" />
							<xs:element name="city" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>